{% extends "layout.html" %}

{% block title %}
    Password for Auto logins
{% endblock %}

{% block main %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow border-0">
                <div class="card-header bg-dark text-light py-4">
                    <h2 class="h4 text-center mb-0">Add Password</h2>
                </div>
                <div class="card-body bg-light">
                    <form action="/add_password" method="post" class="form-control p-4">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" name="password" placeholder="Enter New Password" type="password" required>
                            {% if errors.password %}
                                <div class="text-danger">{{ errors.password }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Confirm password</label>
                            <input class="form-control" name="confirmation" placeholder="Confirm password" type="password" required>
                            {% if errors.confirmation %}
                                <div class="text-danger">{{ errors.confirmation }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3 text-center">
                            <button class="btn btn-success" type="submit">Proceed</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
